@font-face {
    font-family: 'playfair';
    src: url('../assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lato';
    src: url('../assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --custom-white-blue: #f4ebe6;
    --custom-skin: #efff77;
    --custom-black: #000000;
    --custom-green:#79b9a4;
}

* {
    font-family: 'lato';
}

.playfair {
    font-family: 'playfair';
}

/* for small text */
.text-sm {
    font-size: 12px;
}

/* for marquee */
.marquee-items {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.marquee {
    display: flex;
    width: 200%;
    animation: marqueeSlide 20s linear infinite;
}

@keyframes marqueeSlide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

/* for marquee */

.autohide {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
}

.scrolled-down {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}

.scrolled-up {
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}


.dark-gradient {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.0));
    z-index: 1;
}

.btn:hover {
    color: white;
}

.t-cr {
    color: var(--custom-skin);
}

.swiper-button-prev,
.swiper-button-next {
    color: #efcfa0 !important;
}

.border-secondary {
    transition: all ease-in-out 0.2s;
}

.border-secondary:hover {
    border-color: rgb(210, 210, 210) !important;
}


@media only screen and (min-width: 992px) {

    .nav-link {
        transition: 0.3s all ease-in-out;
        font-family: playfair;
        color: var(--custom-white-blue);
    }
    .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
        transition: 0.3s all ease-in-out;
        font-family: playfair;
        color: var(--custom-skin);
    }

    .nav-link:hover {
        color: var(--custom-skin);
    }

}

@media only screen and (max-width: 600px) {
    .lead {
        font-size: smaller;
    }

    .download-img {
        max-height: 200px;
    }
}